<header>
    <nav>
        <ul class="horizontal-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/new">Add a new product</a></li>
          <li><a href="/all-products">View all products</a></li>
        </ul>
      </nav>      
</header>