<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
    <nav>
        <ul class="nav nav-pills flex-column mb-auto">
            <li><a href="/" class="nav-link text-white" aria-current="page">Home</a></li>
            <li><a href="/new" class="nav-link text-white">Add a new product</a></li>
            <li>
                <a href="/all-products" class="nav-link text-white">View all products</a>

                <ul class="nav-link collapse list-unstyled custom" id="currentProductUL">
                    <li class="text-white" id="currentProduct">
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>