<h1>Add a new product</h1>
<form>
  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" name="id">
  </div>

  <div>
    <label for="productName">Product name: </label>
    <input type="text" id="productName" name="productName">
  </div>


  <button type="submit">Submit</button>
</form>

<script>
  $(document).ready(function () {
    $('form').submit(function (e) {
        e.preventDefault();
        addProductHandler($(this));
    });
  });
</script>