<h1>
    Viewing all products
</h1>

<% if (Object.keys(files).length===0) { %>
    No products found. <a href="/new">Add new</a>
<% } %>

<% files.forEach(function(file){ %>
    <div>
        <a href="/view-product/<%=file%>">
            <%= file %>
        </a>
        <button class="delete-button" id="<%= file %>">
            <img src="/icons/bin.png" alt="" style="width: 10px; height: 10px;">
        </button>
    </div>

<% }); %>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-button');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function(event) {
                deleteButtonHandler(event, button.id)
            });
        });
    });
</script>