<h1>
    Viewing all products
</h1>

<% if (Object.keys(products).length===0) { %>
    No products found. <a href="/new">Add new</a>
<% } %>

<% products.forEach(function(product){ %>
    <div>
        <a class="product-id" href="/view-product/<%=product.id%>">
            <span id="prodId"><%= product.id %></span>
        </a>
        <span class="prod-name"><%= product.name %></span>
        <button class="delete-button" id="<%= product.id %>">
            <img src="/icons/bin.png" alt="" style="width: 10px; height: 10px;">
        </button>
    </div>

<% }); %>