<form action="/view-product/aaaaa/upload-images" method="POST" enctype="multipart/form-data">
    <input type="file" name="images" accept="image/*" />
    <button type="submit">Upload</button>
  </form>
  