
<h1>
    Product <span class="prod-name"><%= productName %></span>
</h1>
<button class="delete-button" id="<%= productId %>">
    <img src="/icons/bin.png" alt="" style="width: 10px; height: 10px;">
</button>