
<p>
    Product <span class="prod-name"><%= productName %></span>
</p>

<p>
    <span id="productCode">Product code: <%= productCode %></span>
</p>

<button class="delete-button" id="<%= productCode %>">
    <img src="/icons/bin.png" alt="" style="width: 10px; height: 10px;">
</button>